numpy>=1.24.0
ipykernel
pandas>=2.0.0
aiofiles
dill
dnspython
Flask==3.0.0
Werkzeug==3.0.0
jinja2>=3.1.2
matplotlib>=3.7.0
seaborn>=0.12.0
pymongo>=4.0.0
python-dotenv>=0.21.0
python-multipart>=0.0.6
setuptools
uvicorn>=0.18.0
watchfiles>=0.17.0
websockets>=10.0
boto3>=1.26.0
certifi>=2024.0.0
xgboost>=1.7.0
dotenv
imblearn
# -e .
# python -m pip install "pymongo[srv]==3.12"

